/* Background */
body {
	background-image: url(/backgrounds/sunset.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

/* Buttons */
nav {
	text-align: center;
	margin: 20px 0;
	padding: 10px;
}

nav a {
	text-decoration: none;
	background: #333;
	border-radius: 5px;
	padding: 4px 8px;
}
